<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nutrition Ninja</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="/css/jass.css">
</head>

<body>

  <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a href="/"><h1 id="logo-name" class="navbar-item">Nutrition Ninja</h1></a>
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navMenu" class="navbar-menu">
      <div class="navbar-end">
        <a id="navbar-menu" class="navbar-item" href="/">Home</a>
        <a id="navbar-menu" class="navbar-item" href="/api/nutrition">Nutrition</a>
        <a id="navbar-menu" class="navbar-item" href="/api/calories">Calories Burned</a>
        <a id="navbar-menu" class="navbar-item" href="/api/workouts">Workouts</a>
        <a id="navbar-menu" class="navbar-item" href="/profile">Profile</a>
        <a id="logout" class="navbar-item" href="/logout">Logout</a>
      </div>
    </div>
  </nav>

  <div>
    <main class="mt-6">
      {{{body}}}
    </main>
  </div>

  <footer>
    <div class="content has-text-centered">
      <p>
        <iframe src="https://giphy.com/embed/3d4RmvOnRoYrnRBcFS" width="45" height="60" frameBorder="0"
          class="giphy-embed"></iframe>
      <p><a href="https://giphy.com/gifs/bilbareed-kids-children-ninja-3d4RmvOnRoYrnRBcFS"></a>
      </p>
      <p>NK * JS * NT</p>
    </div>
  </footer>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var navbarBurgers = Array.prototype.slice.call(
        document.querySelectorAll('.navbar-burger'),
        0
      );

      if (navbarBurgers.length > 0) {
        navbarBurgers.forEach(function (el) {
          el.addEventListener('click', function () {
            var target = document.getElementById(el.dataset.target);
            el.classList.toggle('is-active');
            target.classList.toggle('is-active');
          });
        });
      }
    });
  </script>

</body>

</html>