

<div >

<form action="/calories" method="POST">
  <label for="workoutDescription">Workout Description:</label>
  <input type="text" id="workoutDescription" name="workout_description" required>

  <label for="durationInMin">Duration (in minutes):</label>
  <input type="number" id="durationInMin" name="duration_min" required>

  <button id="caloriesLink" type="submit">Calculate Calories</button>
</form>

</div>