

<div >

<h2>Calories Result</h2>
<p>Name: {{newCalories.extractedResult.name}}</p>
<p>Calories Burned: {{newCalories.extractedResult.nf_calories}}</p>
<p>MET: {{newCalories.extractedResult.met}}</p>
</div>


