<div class="content hero">


  <h1 class="title"> Empower Your Journey to a Healthier You</h1>
  <p class="subtitle">Achieve Your Fitness Goals: Track Activities, Calculate Calorie Burn, and Stay Motivated </p>
</div>

<div id="caloriesFormContainer" class="control block content">

  <div></div>

  <form id="caloriesForm">
    <div id="caloriesForm_container" class="">


      <div class="input_div form_subDiv">
        <label for="workoutDescription">Write the name of the workout:</label>
        <input type="text" id="workoutDescription" class="input is-rounded is-hovered" name="workout_description" placeholder="e.g. running">
      </div>

      <div class="input_div form_subDiv">
        <label for="durationInMin">Duration of the workout (in minutes):</label>
        <input type="number" id="durationInMin" class="input is-rounded is-hovered" name="duration_min"
          placeholder="e.g. 10">
      </div>
      <div class="input_div form_subDiv">
        <button id="caloriesButton" class="button is-primary is-rounded" type="submit">Calculate Calories</button>
      </div>


    </div>
  </form>

</div>

<div id="caloriesResultContainer">
</div>

<script src="/js/calories.js"></script>