<section>
    <p id="">
        Step up your health game with Nutrition Ninja! Find out how many calories your workout burned and make sure you
        are getting the nutrients you need all in one convenient place!
    </p>
    <div>
        <button id="login-button" class="btn">Login!</button>
    </div>
    <div>
        <button id="signup-button" class="btn">Signup!</button>
    </div>
</section>