    <div class="banner">
    <img src="/homepagebanner.jpeg" class="banner-art" alt="healthy foods">
</div>
<section class="container container-fluid">
    <p id="welcome-message" class="block m-6">
        Step up your health game with Nutrition Ninja! Keep track of the nutrients you are consuming, how many calories your workouts are buring and even search for new workouts! Sign up or log in to start now!
    </p>
    <div class="columns">
        <button id="login-button" class="button column is-one-fifth is-offset-3 is-success" type="submit" onclick="login()">Login!</button>
        <button id="signup-button" class="button column is-one-fifth is-offset-2 is-success" type="submit" onclick="signup()">Signup!</button>
    </div>
</section>
<script>
    function login() {
        document.location.replace('/login');
    }
</script>
<script>
    function signup() {
        document.location.replace('/signup');
    }
</script>