<div class="content hero" id="nutritionPage">
    <h1 class="title">U of M coding bootcamp's trusted nutrition database</h1  >
    <p class="subtitle">Find nutritional values for your last meal. Make sure to add custom portioning to get accurate results.</p>
</div>

<div id="nutritionFormContainer" class="control block content">
    <form id="nutritionForm">
        <input type="search" name="nutrition" placeholder="Default value of 100g">
        <input id="submitButton" type="submit" value="Submit" class="button is-success">
    </form>
</div>

<div id="nutritionResultsContainer"></div>

<script src="/js/nutrition.js"></script>