<h2>U of M coding bootcamp's trusted food database</h2>
<p>Find nutritional values for your last meal. Make sure to add custom portioning to get accurate results.</p>

<div id="nutritionResultsContainer"> </div>

<div id="nutritionFormContainer">
    <form id="nutritionForm">
        <input type="search" name="nutrition" placeholder="Default value of 100g">
        <input id="submitButton" type="submit" value="Submit">
    </form>
</div>

{{!-- <script src="/js/nutrition.js"></script> --}}