{{!-- <div id="workoutBody">
<video id="video" autoplay muted loop>
      <source src="../public/image/workout.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
</div> --}}
<h1>Welcome, {{user.username}}!</h1>

<div class="columns">
<a class=" button column is-primary" href="/api/calories">Calories Burned</a>
<a class="button column is-primary" href="/api/workouts">Workouts</a>
<a class="button column is-primary" href="/api/nutrition">Nutrition</a>

</div>

<div id="showSavedDataContainer"></div>

<div id="profileContainer">

</div>



<script src="js/profile.js"></script>