<h1>Welcome, {{user.username}}!</h1>

<div class="columns">
{{!-- <a class="column is-full" href="/calories">Calories</a> --}}
<a class="column is-half is-vcentered" href="/api/workouts">Workouts</a>
<a class="column is-half is-vcentered" href="/api/nutrition">Nutrition</a>
{{!-- <a class="column is-full" href="/profile">Profile</a> --}}
</div>