<h1>Welcome, {{user.username}}!</h1>

<div class="columns">
<a class=" button column is-primary" href="/api/calories">Calories Burned</a>
<a class="button column is-primary" href="/api/workouts">Workouts</a>
<a class="button column is-primary" href="/api/nutrition">Nutrition</a>
{{!-- <a class="column is-full" href="/profile">Profile</a> --}}
</div>