<div>
<img src="image/profileBanner.jpeg" alt="training">
<h1 id="profile-welcome">Welcome, {{user.username}}!</h1>
</div>

<div class="columns">
<a class=" button column is-one-fifth is-offset-1 is-success" href="/api/calories">Calories Burned</a>

<a class="button column is-one-fifth is-offset-1 is-success" href="/api/workouts">Workouts</a>

<a class="button column is-one-fifth is-offset-1 is-success" href="/api/nutrition">Nutrition</a>

</div>

<div id="showSavedDataContainer"></div>

<div id="profileContainer">

  <div id="savedNutritionContainer"></div>

</div>



<script src="js/profile.js"></script>