<h1 >Get a tailored workout recommendation with instructions</h1>
<p>Select your targeted muscle and difficulty level, and hit the submit button</p>


<div id="workoutFormContainer" class="control">
  <form id="workoutForm">
    <div class="select">
      <select name="muscle" id="muscle">
        <option value="chest">Select targeted muscle</option>
        <option value="abdominals">Abdominals</option>
        <option value="abductors">Abductors</option>
        <option value="adductors">adductors</option>
        <option value="biceps">biceps</option>
        <option value="calves">calves</option>
        <option value="chest">Chest</option>
        <option value="forearms">forearms</option>
        <option value="glutes">glutes</option>
        <option value="hamstrings">hamstrings</option>
        <option value="lats">lats</option>
        <option value="lower_back">lower_back</option>
        <option value="middle_back">middle_back</option>
        <option value="neck">neck</option>
        <option value="quadriceps">quadriceps</option>
        <option value="traps">traps</option>
        <option value="quadriceps">triceps</option>
      </select>
    </div>

    {{!-- <select name="type" id="type">
      <option value="cardio">Cardio</option>
      <option value="strength">Strength</option>
      <option value="stretching">Stretching</option>
      <option value="strong">Strongman</option>
      <option value="powerlifting">Powerlifting</option>
      <option value="olymplic">olympic_weightlifting</option>
      <option value="plyometrics">plyometrics</option>
      <option value="">Cardio</option>
    </select> --}}
    <select name="difficulty" id="difficultyLevel">
      <option value="beginner">beginner</option>
      <option value="intermediate">intermediate</option>
      <option value="expert">expert</option>
    </select>

    <input id="submitButton" type="submit" value="Submit"></input>
  </form>

</div>


<div id="workoutResultContainer" class="container is-fluid">

</div>

<div id="buttonContainer">
  <!-- Next button goes here -->
  
</div>

<script src="/js/workout.js" ></script>

