
    <form id="workoutForm">
        <label for="workoutDescription">Workout Description/query:</label>
        <input type="text" id="workoutDescription" name="workout_description" required>
      
        <button id="submitButton" type="submit">Submit</button>
      </form>
    