html {
    line-height: 1.15;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
  }
  body {
    margin: 2%;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: greenyellow;
    line-height: 3vh;
}
/* nav{
  display: flex;
  justify-content: flex-end;
} */
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }

  footer {
    background-color: greenyellow;

  }
  /* #workoutFormContainer {
border: solid;
  } */
#header {
  background-color: greenyellow;;
}
  .hero {
    background-color: #f8f8f8;
    padding: 3rem;
    text-align: center;
  }

  .title {
    font-size: 3rem;
    color: #333;
    margin-bottom: 1.5rem;
  }

  .subtitle {
    font-size: 1.5rem;
    color: #666;
    margin-bottom: 2rem;
  }
  .instruction-toggle-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }
  
  .instruction-toggle-content.expanded {
    max-height: 1000px; 
  }
  
  .instruction-toggle-button {
    display: block;
    margin-top: 10px;
    background-color: transparent;
    border: none;
    color: blue; 
    cursor: pointer;
  }
  
  .instruction-toggle-button:hover {
    text-decoration: underline;
  }
  span {
    font-size: large;
    font-weight: bold;
  }
  
  
  

